html, body {
  height: 100%;
}

body {
  background-color: #222;
  font-family: 'Inconsolata';
  margin: 0;
  overflow: hidden;
  padding: 0;
}

form {
  display: block;
  float: left;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

form * {
  color: #ccc;
}

form > * {
  display: block;
  left: 5px;
  position: absolute;
  right: 5px;
}

.input-wrapper {
  background-color: #444;
  padding: 5px;
  top: 5px;
}

#url {
  background-color: transparent;
  border: 0;
  font-size: 1.1rem;
  height: 20px;
  line-height: 1.2rem;
  outline: none;
  width: 100%;
}

#url:focus {
  outline: none;
}

#page {
  background-color: #333;
  bottom: 0;
  min-height: 300px;
  margin-top: 2px;
  overflow: auto;
  padding: 2px;
  top: 40px;
}

#page::selection {
  background: #666;
}

#page::-moz-selection {
  background: #666;
}
