<!DOCTYPE html>
<html>
  <head>
    <title>gopher</title>
    <meta content="width=device-width, height=device-height, user-scalable=no, initial-scale=0.95, maximum-scale=0.95, minimum-scale=0.95" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="media/main.css">
  </head>
  <body>
    <form method="POST">
      <div class="input-wrapper">
        <input type="text" name="url" id="url" placeholder="gopher://">
      </div>
      <pre id="page">
             _
            (_)
   _ __ ___  _  ___ _ __ ___
  | '_ ` _ \| |/ __| '__/ _ \
  | | | | | | | (__| | | (_) |
  |_| |_| |_|_|\___|_|  \___/
   ___ _ __   __ _  ___   ___  ___
  / __| '_ \ / _` |/ __| / _ \/ __|
  \__ \ |_) | (_| | (__ |  __/\__ \
  |___/ .__/ \__,_|\___(_)___||___/
      | |
      |_|

      enter a gopher url above ^^

      made by <a href="http://twitter.com/ednapiranha" target="_blank">@ednapiranha</a> and <a href="http://twitter.com/taotetek" target="_blank">taotetek</a>
      </pre>
    </form>
    <script type="text/javascript" src="media/main.js"></script>
  </body>
</html>
